<%= simple_form_for @comment, url: post_comments_path(@post) do |f| %>
	<div class="field">
		<%= f.input :comment, 
					label: 'Comentário',
		            input_html: { class: 'textarea' }, 
		            wrapper: false, 
		            label_html: { class: 'label' } %>
	</div>

	<%= f.submit 'Enviar comentário', class: 'button is-primary' %>
<% end %>