<div class="section">
	<div class="container">
		<%= simple_form_for @post do |f| %>
			<div class="field">
				<%= f.input :title,
							label: 'Título',
				            input_html: { class: 'input' }, 
							wrapper: false, 
							label_html: { class: 'label' } %>
			</div>
			<div class="field">
				<%= f.input :content, 
							label: 'Conteúdo',
				            input_html: { class: 'textarea' }, 
				            wrapper: false, 
				            label_html: { class: 'label' } %>
			</div>

			<%= f.submit 'Salvar postagem', class: 'button is-primary' %>
		<% end %>
	</div>
</div>